 
 /*.........LINHA 3 - CRIAR CONTA ..........*/
div.formContainer1{     
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:auto;
  padding:0;
  width: 30%;
  height: 100%;
  box-shadow: 1px 1px 3px #333333;
}
header.criarConta1{
  background-color: #02004B;
  display:flex;
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
h2.textCriar1{
  padding:15px 0;
  margin:0;
  max-width: 100%;
  max-height: 100%;
  font-size: clamp(.5rem, .5rem + 1.3vw, 2rem);    
}
/*...................FORMULÁRIO...............*/
div.cadastrar01{
  width: 100%; 
  max-height:auto; 
  border:1px solid #fff;   
  margin:0;
  padding:0 0 30px;
  height: 100%;
  background-color: #FAFFE5;
  box-sizing: border-box;
} 
figure.pessoa{
  margin:3cqh auto 20px;
  padding:0;
  max-width: 100%;
  max-height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
} 
img.perfil{
  margin:0;
  padding:0;
  width: clamp(.5rem, 1rem + 5vw, 15rem);
}
div.act{
  text-align: center;
  margin:0;
}
.buttonPage1{
  font-size:clamp(1em, 1.3em, 3vw);
  background-color: #89ff68;
  padding:2px 10px;
  border-radius:3px;
  box-shadow:1px 1px 4px #787878;
  border:none;
  width:50%;
  cursor: pointer;
}
.buttonPage1:hover{    
  background-color: #9eff83;
}
.buttonPage1:active{
  box-shadow:-.5px .5px 4px #787878;
  transform:scale(.98);
}

div.temConta{
  text-align: center;
  color:#000000;
  max-width: 100%;
  max-height: 100%;
  margin-top:50px;
}
p.textConta{
  font-size: clamp(.4rem, .5rem + 1vw, 10rem);
  width: 100%;
  height: 100%; 
}
span.linkInicieSessao{
  color:#002382;   
 }
div.temConta span:hover{
  color:#140082; 
  text-shadow: 1px 1px 5px #ffb6b6; 
  box-sizing: border-box;
}

