/*.........LINHA 3 - CRIAR CONTA................*/

div.formContainer3{     
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 auto 20px;
 padding:0;
 width: 30%;
 height: 100%;
 box-shadow: 1px 1px 3px #333333;
}
header.criarConta3{
 background-color: #02004B;
 display:flex;
 width:100%;
 height: 100%;
 align-items: center;
 justify-content: center;
 box-sizing: border-box;
}
h2.textCriar3{
 padding:15px 0;
 margin:0;
 max-width: 100%;
 max-height: 100%;
 font-size: clamp(.5rem, .5rem + 1.3vw, 2rem);  
}

/*.........AVISO DADOS...........*/
text.avisoDados3{
background-color: #D9D9D9;
width: 100%;
height: 100%;
box-sizing: border-box;
text-align: center;
font-size: clamp(.5rem, .2rem + 1vw, 2rem); 
margin:0;
padding:15px 0;
color:#5d5d5d;
}
text.avisoDados3 p{
margin:0;
}

/*.........FORMULÁRIO....................*/
div.cadastrar3{
 width: 100%; 
 max-height:auto; 
 border:1px solid #fff;   
 margin:0;
 padding:0;
 height: 100%;
 background-color: #FAFFE5;
 box-sizing: border-box;
} 
.formPag3{
background-color: #edffa75c;
width:100%;
height:100%;
margin:0;
padding:10px 0;
box-sizing: border-box;
}
div.Input3{
display:flex;
flex-direction: column;
width:50%;
margin:10px auto;
}
form.formPag3 label{
color:#000;
margin: 10px 0 3px;
font-size: clamp(.5rem, .3rem + 1vw, 2rem); 
}
input.IdJogador, input.email{
padding:2px 0;

}
div.containerButtons{
display:flex;
align-items: center;
justify-content: space-evenly;
margin:45px 0 0;
}
.button1, .button2{
padding:5px 15px;
font-size: clamp(.5rem, .3rem + 1vw, 2rem); 
border:none;
border-radius: 5px;
box-shadow: 1px 1px 3px #07070322;
cursor:pointer;
}
.button1{
 background-color: #d5b3ff;
}
.button2{
background-color: #99faff;
}
.button1:hover, .button2:hover{
background-color: #87e5ffb1;
}
.button1:active, .button2:active{
 box-shadow: -.5px .5px 4px #07070322;
 transform:scale(.98);
 }
