section#Container {
  background:linear-gradient(#11253D, #6A0066, #080064);
  display:flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  padding:10px 0;
  margin:0;
}
.divs{
  box-sizing: border-box;
}

div.box1{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
h1.sotero, h1.games{
  margin:0;
  padding:0;
  color:#fffabf;
  font-size: clamp(.5rem, .5rem + 1.7vw, 2rem);
  max-width: max-content;
  height: auto;
}
figure.fig-fenix{
  margin:0;
  padding:0;
  max-width:max-content;
  height:max-content;
}
img.fenix{
  width: clamp(.5rem, 1rem + 6vw, 15rem);
  
}

div.box2{
  text-align: center;
}
h3.texto-escolha{
  font-size: clamp(0.875rem, 0.7442rem + 0.5365vw, 2rem);
  color:#f2d4d4;
}
h3.jogos, h3.cadastre, h3.login{
  cursor: pointer;
  font-size: clamp(0.875rem, 0.7442rem + 0.5365vw, 2rem);
  box-shadow: 1px 1px 3px #303030b6;
  padding:2px 7px;
  background-color: #88008399;
  color:#FFFFFF;
  letter-spacing: 2px;
  border-radius:4px;
}
/*......Efeito ao sobrepor o mouse.........*/
h3.jogos:hover, h3.cadastre:hover, h3.login:hover{
  color:#28f1ff;
}
/*......Efeito ao clicar com o mouse.........*/
h3.jogos:active, h3.cadastre:active, h3.login:active{
   color:#12ffc4;
   transform:scale(.985);
   box-shadow: -1px -1px -3px #3e3e3e;
   background-color: #cd00c699;

}
div.box3{
  display:flex;
  max-width: max-content; 
}
div.box4{
  display:flex;
  align-items: center;    
  justify-content: space-between;
  gap:30px;
}

/*.....RESPONSIVIDADE......*/
@media screen and (max-width: 871px) {  
  section#Container, img.fenix {
    display:none;
  } 
}
