body{
 background-color: #4c5d70;
 
 }
 /*......LINHA 1section CONTAINER GERAL.......*/
 section.conteudo{
  color: #fff;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  max-width:100%;
  padding:0;
  margin:auto;
  box-sizing:border-box;
 }
 
 header.cadastro{  
  display:flex;
  align-items: center;
  justify-content: center;   
  width: 100%;
  height:auto ;
  margin:0;
  padding:0;
  background:linear-gradient(#11253D, #6A0066, #080064);
 }
 
 h2.text-Login{
  max-width: 100%;
  color: #fff;
  padding: 20px 0;
  margin:0;
  font-size:clamp(1.2em, 1.5em, 3vw);
 }
 
 /*.........LINHA 2 SETA....................*/
 figure.container-arrow{
  display:flex;
  margin:0;
  padding:0;
  width: 100%;
  box-sizing:inherit;      
 }
 img.arrow{
  display:flex;
  max-width: 50px;
  margin:10px 0 0 20px;
  padding:0;
  filter: invert(75%);
  filter: drop-shadow(5px 5px 20px red) invert(75%);
 }
 
 /*.........LINHA 3 - CRIAR CONTA....................*/
 div.form-container{     
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:20px auto;
  padding:0;
  width: 30%;
  height: auto;
  background: rgba(255, 255, 255, 0.78);
  box-shadow: 1px 1px 3px #333333;
 }
 header.criarConta{
  background-color: #02004B;
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
   box-sizing: border-box;
 }
 h2.text-criar{
  padding:0;
  max-width: 100%;
  max-height: 100%;
  font-size: clamp(.5rem, .5rem + 1.3vw, 2rem);  
 }

 /*.........FORMULÁRIO....................*/
 div#cadastrar{
  width:90%; 
  max-height:auto; 
  border:1px solid #fff;   
  margin:20px 0;
  padding:0 0 30px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  }    
  figure#pessoa{
   margin:3cqh auto 20px;
   padding:0;
   max-width: 100%;
   max-height: 100%;
   display:flex;
   align-items: center;
   justify-content: center;
  } 
  img.perfil{
   margin:0;
   padding:0;
   width: clamp(.5rem, 1rem + 5vw, 15rem);

  }
  div.act{
   text-align: center;
   margin:0;

  }
  div input.criar{
   font-size:clamp(1em, 1.3em, 3vw);
   background-color: #89ff68;
   padding:2px 10px;
   border-radius:3px;
   box-shadow:1px 1px 4px #787878;
   border:none;
   width:50%;
  }
  div.conteudo-parag{
   text-align: center;
   color:#000000;
   max-width: 100%;
   max-height: 100%;
   margin-top:50px;
  }
  p.text-parag{
   font-size: clamp(.4rem, .5rem + 1vw, 10rem);
   width: 100%;
   height: 100%; 
  }
  div.conteudo-parag span{
   color:#002382;
  }